^{:css-dirs ["resources/public/css"]}
{:main daily-log.client.core
 :npm-deps false
 :infer-externs true
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["date-fns"]
                 :global-exports {date-fns "dateFns"}}]}
