{:deps
 {io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
  io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
  org.postgresql/postgresql    {:mvn/version "42.2.10"}
  seancorfield/next.jdbc       {:mvn/version "1.0.409"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                              org.clojure/tools.namespace {:mvn/version "1.0.0"}}
              ;; :main-opts  ["-m" "rebel-readline.main"] <-- buggy
                 }}}
