/* style */

.pb0 {
    padding-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.pb1 {
    padding-bottom: 5px;
}

.pt1 {
    padding-top: 5px;
}

.pb2 {
    padding-bottom: 10px;
}

.pt2 {
    padding-top: 10px;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mb1 {
    margin-bottom: 5px;
}

.mt1 {
    margin-top: 5px;
}

.mb2 {
    margin-bottom: 10px;
}

.mt2 {
    margin-top: 10px;
}

.circle-h5 {
    font-size: 1.64rem;
    line-height: 200%;
    height: 46px;
    width: 46px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.dropdown-content {
    width: 213px;
    top: 10px;
    opacity: 1;
}

.caret {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87);
}

.dropdown-content {
    display: none;
    width: -webkit-fill-available;
}

.dropdown-content.interacting {
    display: block;
}

.input-field>label {
    pointer-events: none;
}

.input-field>label.selected {
    transform: translateY(-14px) scale(0.8);
}

.input-field>label.interacting {
    color: #26a69a;
    transform: translateY(-14px) scale(0.8);
}

.unselectable {
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.cell-val {
    padding: 10px;
}

#toast-container {
    left: 30px;
    bottom: 65px;
    top: auto;
    right: auto;
    display: block;
    position: fixed;
    max-width: 90%;
    min-width: 200px;
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 1003;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
}
